<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <h1>Hello!!!</h1>
    <input type="text" id="shop_name" placeholder="shop_name" />
    <input type="text" id="shop_description" placeholder="shop_description" />
    <input type="text" id="shop_location" placeholder="shop_location" />
    <button id="shop-btn">등록</button>
  </body>
  <script src="js/save.js"></script>
</html>
